* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.w-100 {
	width: 100%;
}
.text-center {
	text-align: center;
}
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #d3d3d3;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	margin: 25px;
	box-shadow: 0 0 7px 1px rgba($color: #000000, $alpha: 0.3);
	max-width: 800px;
	height: 600px;
	.section-one {
		padding: 25px;
		h3 {
			margin-top: 15px;
			text-align: center;
			&::first-line {
				text-transform: capitalize;
			}
			font : {
				size: 1.5rem;
				weight: 900;
			}
		}
		P.section-addBtn {
			cursor: pointer;
			user-select: none;
			border: 1px solid #000;
			border-radius: 3px;
			padding: .7rem;
			color: #fff;
			background-color: rgb(68, 199, 68);
			font-size: 1.3rem;
			text-align: center;
		}
		.all-note {
			overflow-y: auto;
			margin-top: 20px;
			max-height: 440px;
			.note {
				h4 {
					font-size: 1.2rem;
					padding-bottom: 7px;
					margin-bottom: 6px;
					border-bottom: 1px solid #aaa;
					font-weight: bolder;
					&::first-line {
						text-transform: capitalize;
					}
				}
				div {
					padding: 9px;
				}
				span {
					display: block;
					text-align: right;
					font-size: 0.85rem;
					color: #333;
				}
				padding: 0;
				font-family: 0.9rem;
				width: 90%;
				margin: 10px auto;
				max-height: 100px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				border-radius: 5px;
				box-shadow: 0 0 7px 1px rgba($color: #000000, $alpha: 0.2);
			}
		}
	}
	.section-two {
		border-left: 1px solid #aaa;
		padding: 25px;
		[for='text'] {
			text-align: center;
			font-size: 1.3rem;
		}
		.control {
			.inp {
				border: 1px solid #aaa;
				padding: 0.5rem;
				height: 30px;
				width: 100%;
				border-radius: 4px;
				margin: 0 5px;
				&:focus {
					outline: 0;
				}
			}
			i {
				font-size: 1.3rem;
				padding: 7px;
				margin: 0 4px;
				color: #fff;
				cursor: pointer;
				border-radius: 3px;
				box-shadow: 0 0 6px 1px rgba($color: #333, $alpha: 0.25);
			}
			#save {
				color: green;
			}
			#clear {
				color: red;
			}
			#delete {
				color: #333;
			}
		}
		.item-color {
			margin-top: 10px;
			#custom-color {
				@extend span[data-color];
				-webkit-appearance: none;
				&::-webkit-color-swatch-wrapper {
					padding: 0;
				}
				&::-webkit-color-swatch {
					border-radius: 100%;
					border: none;
				}
			}
			span[data-color] {
				padding: 0;
				margin: 0 3px;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: #000;
				border: 1px solid #eee;
				cursor: pointer;
			}
		}
		h3 {
			margin: 10px 0 10px 0;
		}
		textarea {
			padding: 5px;
			line-height: 132%;
			font: {
				family: inherit;
				size: 1rem;
			}
			resize: none;
			height: 420px;
			&:focus {
				outline-color: #aaa;
			}
		}
	}
}
